---
const { content, icon, href } = Astro.props;
---
<li class="border-4 border-antique_white hover:border-viridian transition w-full px-4 py-2 text-cinereous group hover:text-antique_white mx-2">
  <a href={href} class="flex gap-8 items-center">
    <span class="w-0 group-hover:w-4 transition-[width] duration-300 overflow-hidden block -mr-4">&gt;</span>
    <slot name="icon" />
    <slot />
  </a>
</li>

